# Modulo 5 - Emilio GÃ³mez

In [9]:
#Ejercicio 1
first_planet = 149597870
second_planet = 778547200
distance_km = second_planet - first_planet
print(distance_km)
distance_mi = distance_km * 0.621
print(abs(distance_mi))

628949330
390577533.93

In [6]:
#Ejercicio2 
# #Distancia del Sol al Planeta, diferencia entre distancias
print("Bienvenido a la distancia entre el Sol y 2 Planetas")
name = input("Introduzca su nombre ")
print("Saludos: " + name)
Planeta1 = int(input("Introduzca la distancia del Sol al primer planeta "))
Planeta2 = int(input("Introduzca la distancia del Sol al segundo planeta "))
Diferencia = Planeta1 - Planeta2
print("La diferencia entre ambas distancias es de: ")
print(abs(Diferencia),'km')
Diferencia_mi = Diferencia*0.621
print(abs(Diferencia_mi),'millas')

Bienvenido a la distancia entre el Sol y 2 Planetas
Saludos: Emilio
La diferencia entre ambas distancias es de:
628949330 km
390577533.93 millas

In [1]:
answer = 30 + 12
print(answer)

42

In [2]:
difference = 30 - 12
print(difference)

18

In [3]:
product = 30 * 12
print(product)

360

In [4]:
quotient = 30 / 12
print(quotient)

2.5

In [7]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

In [9]:
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)
print(result_1)
print(result_2)

1084
1084

In [10]:
demo_int = int('215')
print(demo_int)

215

In [11]:
demo_float = float('215.3')
print(demo_float)

215.3

In [13]:

print(abs(39 - 16))
print(abs(16 - 39))

23
23

In [14]:
print(round(14.5))

14

In [15]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12